@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat_medium;
    src: url(./fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Fraunces_72_soft_bold;
    src: url(./fonts/Fraunces_72pt_Soft-Bold.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
}

#container {
    width: 100vw;
    height: 100vh;
}

main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    width: 90%;
    min-width: 252px;
    max-width: 43ch;
    border-radius: 10px;
    box-shadow: 0 0 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}



.img-desktop {
    display: none;
    border-radius: 10px 0 0 10px;
}

.img-mobile {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.all-text {
    background-color: inherit;
    padding: 1em;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

h1 {
    font-family: Fraunces_72_soft_bold, serif;
    font-size: 2.25em;
    line-height: 0.95em;
}


p {
    font-family: Monstserrat, sans-serif;
    color: hsl(228, 12%, 48%);
}

p:first-of-type {
    font-size: .85em;
    text-transform: uppercase;
    letter-spacing: 1ch; 
    margin-top: .75em;
    margin-bottom: 1em;
}

a {
    text-decoration: none;
}

#main-description {
    font-family: Montserrat_medium;
    font-size: .90em;
    width: 95%;
    line-height: 1.75em;
    padding: 1em 0;   
}

#prices {
    display: flex;
    padding-bottom: 1em;
}


#prices div:first-of-type {
    font-family: Fraunces_72_soft_bold, serif;
    color: hsl(158, 36%, 37%);
    font-size: 2em;
}

#prices div:last-of-type {
    text-decoration-line: line-through;
    margin-top: .6em;
    margin-left: 1em;
    color: hsl(228, 12%, 48%);
}

#addToCart {
    background-color: hsl(158, 36%, 37%);
    /* width: 99%; */
    padding: .5em 0;
    color: white;
    border-radius: 10px;
}

#addToCart img {
    width: 1em;
    padding-left: 30%;
    padding-right: 3%;
}

#addToCart:hover {
    background-color: hsl(156, 42%, 18%);
}

footer {
    position: fixed;
    bottom:0;
    font-size: small;
}


@media  screen and (min-width:700px) {
    img:first-of-type{
        width: 100%;
        display:initial;
    }
    img:nth-of-type(2) {
        display: none;
    }

    
    main {
        /* height: 55ch; */
        flex-direction: row;
        /* justify-content: center; */
    }

    

    main p:first-of-type {
        margin-bottom: 1.5em;
    }

    main h1 {
        max-width: 10ch;
    }

    #main-description {
        width: 25ch;
        line-height: 2em;
    }

    #prices {
        margin-bottom: 2em;
    }

    
}

